@import "tailwindcss";
@import '../../../index.css';



@layer components {
    /* navbar */
    .navbar {
        @apply bg-[var(--layout-color)]  lg:col-start-2 col-start-1 row-start-1 border-1 border-line-color border-r-0  border-t-0 border-l-0 flex justify-between gap-4 items-center p-3;
    }
    .navbar-right {
        @apply w-fit h-full flex gap-1
         items-center;
    }
    .navbar-left {
        @apply w-fit h-full  flex items-center justify-end;
    }
    .bx-menu {
        @apply text-[var(--text-color)] text-4xl cursor-pointer;
    }

    .bxr {
        @apply text-[var(--text-color)] text-2xl;
    }
    .navbar-left {
        @apply flex gap-3 items-center justify-between h-full
    }
    .navbar-left-right {
        @apply gap-2 border-2 w-sm overflow-hidden border-line-color px-2 flex items-center justify-between h-full duration-300 bg-[var(--box-color)] rounded-lg  focus-within:border-ok-color;
    }
    .navbar-search-input {
        @apply text-[var(--text-color)] text-center outline-0 w-full text-sm sm:text-lg h-full;
    }
    .navbar-search-label {
        @apply flex items-center;
        i {
            @apply text-secondary-text-color duration-300;
        }
    }
    .navbar-left-left {
        @apply flex items-center  gap-3;
    }
    .navbar {
        @apply flex;
    }
    .navbar {
        @apply flex;
    }
}
.navbar{
    *{
        user-select: none;
    }
}
.navbar-left-right:focus-within label i {
    color: var(--color-ok-color);
    transition: 300ms;
}
