@import "tailwindcss";
@import '../../../index.css';

@layer components {
    .sidebar {
        @apply duration-300 right-0  overflow-scroll z-50  absolute select-none h-screen box-border min-w-0  border-l-2  border-l-line-color   top-0 lg:sticky bg-[var(--layout-color)]  p-3 pl-[17px] row-start-1 row-end-3 w-[300px];
    }

    .sidebar-inner {
        @apply h-full w-full overflow-scroll overflow-y-auto max-h-full  [direction:ltr];
    }
    .sidebar-inner-2 {
        @apply max-w-full;
    }
    .sidebar-item {
        @apply w-full flex-col flex cursor-pointer;
    }
    /* profile */
    .item-info {
        @apply gap-3 flex border-2 border-line-color w-full  bg-[var(--bg-color)] items-center  justify-between  rounded-lg p-2;
    }
    .sidebar-profile {
        @apply min-w-[50px]  max-w-[50px] overflow-hidden rounded-sm h-[50px];
    }
    .sidebar-profile-img {
        @apply object-cover h-full w-full;
    }
    .sidebar-info-info {
        @apply w-full flex select-text flex-col max-h-[50px] p-0.5 box-border overflow-hidden;
    }
    .sidebar-info-name {
        @apply font-[700];
    }
    .sidebar-info-email {
        @apply text-sm font-thin;
    }

    .sidebar-item-child {
        @apply flex items-center cursor-pointer w-full duration-300 p-2  gap-4 border-2 border-[var(--layout-color)] rounded-lg;
    }
    .sidebar-item-child:hover {
        @apply border-line-color bg-[var(--box-color)];
    }
    .sidebar-item-icon {
        @apply text-2xl flex text-center items-center justify-center duration-300 text-secondary-text-color group-hover:text-[var(--text-color)];
    }
    .sidebar-item-title {
        @apply duration-300 group-hover:text-[var(--text-color)] text-secondary-text-color;
    }
    .sidebar-sub-parent {
        @apply flex items-center w-full  duration-300    border-2 border-[var(--layout-color)] rounded-lg flex-col;
    }
    .sidebar-submenu {
        @apply flex flex-col overflow-hidden max-h-0  duration-300 ease-in-out transition-all w-[90%]  border-r-2 pr-1 border-line-color gap-1;
    }
    .sidebar-submenu-item-child {
        @apply flex items-center w-full duration-300 p-2  gap-4 border-2 border-[var(--layout-color)] rounded-lg  justify-between;
    }
    .submenu-show {
        @apply max-h-[400px] mt-2; /* large enough to contain all submenu items */
    }
    .sidebar-submenu-arrow {
        @apply text-lg duration-300 group-hover:text-[var(--text-color)] text-secondary-text-color;
    }
    .arrow-rotate {
        @apply rotate-180 text-ok-color;
    }
    .item-info i {
        @apply duration-300;
    }
}

.sidebar {
    direction: ltr;

    * {
        direction: rtl;
    }
}

.sidebar-item-active {
    border-color: var(--color-line-color);
    background-color: var(--box-color);
    i {
        color: var(--color-ok-color);
    }
    h2 {
        color: var(--text-color);
    }
}

.item-info > i:hover {
    color: red;
}
.sidebar-submenu-active {
    i {
        color: var(--color-ok-color);
    }

    h2 {
        color: var(--color-ok-color);
    }
}
.sidebar-submenu-active:hover {
    border-color: var(--layout-color);
    background-color: var(--layout-color);
    i {
        color: var(--color-ok-color);
    }
    h2 {
        color: var(--color-ok-color);
    }
}

/* width of scrollbar */
.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 0;
}
.sidebar-closed::-webkit-scrollbar {
    width: 0px;
    height: 0;
}

/* track */
.sidebar::-webkit-scrollbar-track {
    background: transparent;

    /* or use a Tailwind color like theme('colors.gray.200') */
}

/* handle */
.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--color-line-color); /* your custom color */
    border-radius: 9999px; /* full rounded */
    box-sizing: border-box;
    z-index: 0;
}

/* handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.sidebar-closed {
    transition: 300ms;
    position: absolute;
    top: 0;
    transform: translate(100%);
}

@media (min-width: 1024px) {
    .sidebar-closed {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        transition: 300ms;
        width: 70px !important;
        position: sticky;
        transform: translate(0);
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        .sidebar-inner-2 {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .item-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 4px;
           
        }
        .sidebar-profile {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            max-width: 40px !important ;
            width: 40px !important;
            max-height: 40px !important;
            height: 40px !important;
            overflow: hidden;
            .sidebar-profile-img {
                width: 40px;
                height: 40px;
                border-radius: 4px;
            }
        }
        .sidebar-info-info {
            display: none;
        }
        .item-info i {
            display: none;
        }
        .sidebar-item > ul > li > h2 {
            text-align: center;
            text-wrap: nowrap;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            transform: translate(-100%, 50%);
        }
        .sidebar-item > ul > li {
            gap: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 13px;
            padding-bottom: 13px;
            position: relative;
        }
        .sidebar-sub-parent {
            margin: 0;
            padding: 0;
            max-width: 100%;
            box-sizing: content-box;
            border: none;
            > div {
                gap: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 13px;
                padding-bottom: 13px;
                position: relative;
                overflow: hidden;
                div > h2 {
                    text-align: center;
                    text-wrap: nowrap;
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    transform: translate(-100%, 50%);
                }
                > i {
                    font-size: 0;
                    display: none;
                    padding-right: 2px;
                }
            }
            ul {
                max-height: 0;
            }
        }
    }
}
