@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: Shabnam;
    src: url("./assets/font/Shabnam.woff2") format("woff2"),
        url("./assets/font/Shabnam.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url("./assets/font/Shabnam-Bold.woff2") format("woff2"),
        url("./assets/font/Shabnam-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url("./assets/font/Shabnam-Thin.woff2") format("woff2"),
        url("./assets/font/Shabnam-Thin.woff") format("woff");
    font-weight: 100;
}

@font-face {
    font-family: Shabnam;
    src: url("./assets/font/Shabnam-Light.woff2") format("woff2"),
        url("./assets/font/Shabnam-Light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: Shabnam;
    src: url("./assets/font/Shabnam-Medium.woff2") format("woff2"),
        url("./assets/font/Shabnam-Medium.woff") format("woff");
    font-weight: 500;
}

/* digits */
@font-face {
    font-family: ShabnamFD;
    src: url("./assets/font/Farsi-Digits/Shabnam-Bold-FD.woff2") format("woff2"),
        url("./assets/font/Farsi-Digits/Shabnam-Bold-FD.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: ShabnamFD;
    src: url("./assets/font/Farsi-Digits/Shabnam-Medium-FD.woff2")
            format("woff2"),
        url("./assets/font/Farsi-Digits/Shabnam-Medium-FD.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: ShabnamFD;
    src: url("./assets/font/Farsi-Digits/Shabnam-Light-FD.woff2")
            format("woff2"),
        url("./assets/font/Farsi-Digits/Shabnam-Light-FD.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: ShabnamFD;
    src: url("./assets/font/Farsi-Digits/Shabnam-Thin-FD.woff2") format("woff2"),
        url("./assets/font/Farsi-Digits/Shabnam-Thin-FD.woff") format("woff");
    font-weight: 100;
}

/* ------------------ Base Layer ------------------ */
@layer base {
    * {
        @apply box-border select-text;
    }
    p {
        @apply text-secondary-text-color;
    }
    h1 {
        @apply text-[var(--text-color)];
    }
}

/* ------------------ Variables ------------------ */
:root {
    --bg-color: hsl(0, 0%, 100%);
    --box-color: hsl(0, 0%, 97%);
    --box2-color: hsl(0, 0%, 70%);
    --layout-color: hsl(0, 0%, 100%);
    --layou2t-color: hsl(0, 0%, 76%);
    --text-color: hsl(0, 0%, 9%);
}

.dark {
    --bg-color: hsl(0, 0%, 4%);
    --box-color: hsl(0, 0%, 9%);
    --box2-color: hsl(0, 0%, 19%);
    --layout-color: hsl(0, 0%, 4%);
    --layout2-color: hsl(0, 0%, 10%);
    --text-color: hsl(0, 0%, 98%);
    --sedondary-text-color: hsl(0, 0%, 63%);
}

/* ------------------ Theme Tokens ------------------ */
@theme {
    /* fonts */
    --font-sans: "Shabnam", sans-serif;
    --font-ShabnamFD: "ShabnamFD", sans-serif;

    /* colors (always wrap vars in [ ]) */
    --color-bg-color: [var(--bg-color)];
    --color-layout-color: [var(--layout-color)];
    --color-box-color: [var(--box-color)];
    --color-text-color: [var(--text-color)];

    --color-box-highlights-color: hsl(0, 0%, 13%);
    --color-line-color: hsl(180, 1%, 17%);
    --color-secondary-text-color: hsl(0, 0%, 63%);
    --color-success-color: hsl(163, 62%, 47%);
    --color-ok-color: hsl(212, 86%, 55%);
    --color-warning-color: hsl(36, 39%, 28%);
    --color-warning-light-color: hsl(37, 49%, 54%);
    --color-failed-color: hsl(8, 68%, 45%);
}

/* ------------------ Components ------------------ */
@layer components {
    #root {
        @apply box-border relative bg-bg-color grid grid-cols-1 
           lg:grid-cols-[auto_1fr] grid-rows-[65px_1fr] 
           max-w-full min-h-screen;
    }

    .dashed {
        @apply w-full my-4 h-[1px] bg-[repeating-linear-gradient(to_right,#1c1c1c_0_7px,transparent_7px_13px)];
    }
    .default-table {
        @apply w-full h-full p-2;
    }

    .default-title {
        @apply text-lg font-semibold mb-4 text-[var(--text-color)];
    }

    .default-table-container {
        @apply relative h-full shadow-md rounded-lg overflow-scroll;
    }

    .default-table-inner {
        @apply w-full text-sm text-left rtl:text-right  text-gray-500 dark:text-gray-400 rounded-lg overflow-hidden;
    }

    .default-table-head {
        @apply text-xs uppercase text-[var(--text-color)] bg-[var(--box2-color)];
    }

    .default-table-row {
        @apply rounded-lg;
    }

    .default-th {
        @apply px-6 py-3;
    }

    .default-tr {
        @apply border-b border-line-color bg-[var(--layout-color)] hover:bg-[var(--layout2-color)] duration-300;
    }

    .default-td-index {
        @apply px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white;
    }

    .default-td {
        @apply px-6 py-4 whitespace-nowrap text-[var(--text-color)];
    }

    .default-td-action {
        @apply px-6 py-4 whitespace-nowrap text-right;
    }

    .default-action-link {
        @apply font-medium text-failed-color hover:underline;
    }
    .pagination-item{
        @apply flex duration-300 items-center justify-center px-4 h-10 ms-0 leading-tight text-secondary-text-color bg-[var(--box-color)] border border-e-0 border-line-color rounded-s-lg hover:bg-gray-100 hover:text-[var(--text-color)]    dark:hover:bg-[var(--box2-color)];
    }
}
.default-table::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.default-table::-webkit-scrollbar-track {
    background: transparent;

    /* or use a Tailwind color like theme('colors.gray.200') */
}
.default-table::-webkit-scrollbar-thumb {
    background-color: var(--color-line-color); /* your custom color */
    border-radius: 9999px;
    box-sizing: border-box;
    z-index: 0;
}
.default-table-container::-webkit-scrollbar-corner {
    background-color: transparent;
}
.default-table::-webkit-scrollbar-corner {
    background-color: transparent;
}
.default-table-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.default-table-container::-webkit-scrollbar-track {
    background: transparent;

    /* or use a Tailwind color like theme('colors.gray.200') */
}
.default-table-container::-webkit-scrollbar-thumb {
    background-color: var(--color-line-color); /* your custom color */
    border-radius: 9999px;
    box-sizing: border-box;
    z-index: 0;
}
.default-table-container::-webkit-scrollbar-corner {
    background-color: transparent;
}
